<div class="auth-container">

  <form method="post" action="/signin">
    <h6>Sign In</h6>
    <input class="user-entry" type="text" name="username" placeholder="Username">
    <input class="user-entry" type="password" name="password" placeholder="password">
    <button class="user-submit">Sign In</button>
  </form>
</div>
