<div class="auth-container">

  <form method="post" action="/signup">
    <h6>Sign Up</h6>
    <input class="user-entry" type="text" name="username" placeholder="username">
    <input class="user-entry" type="password" name="password" placeholder="password">
    <button class="user-submit">Sign Up</button>
  </form>

</div>
