<!-- <div class="row header">
  <div class="column column-12">
    <h1>Old Deluder Satan</h1>
  </div>
</div> -->

<div class="row main">
  <div id='map' class="column column-7"></div>
  <div class="schools column column-5">

    <select id="schooloptions">
    </select>

    <h4>School</h4>

    <h2 id='schoolLabel'></h2>
    <h4>Address:</h4>
    <p id='addressLabel'></p>
    <h4>Risk Category</h4>
    <p id='riskLabel'></p>
    <h4>Number of Critical Violations</h4>
    <p id='criticalLabel'></p>
    <h4>Number of Noncritical Violations</h4>
    <p id='noncriticalLabel'></p>
    <div class="comments">
      <h1>Comment Section</h1>
    </div>
  </div>
</div>
