<div class="row header">
  <div class="column column-12">
    <h1>Old Deluder Satan</h1>
  </div>
</div>
<div class="row main">
  <div class="column column-3">-</div>
  <div class="column column-6 schools">
    <h2>Schools</h2>
  </div>
<div class="column column-3">-</div>
</div>
