<div class="row header">
  <div class="column column-12">
    <h1>Old Deluder Satan</h1>
  </div>
</div>
<div class="row main">
  <div id='map' class="column column-6"></div>
  <div class="schools column column-6">
    <h2>School Info</h2>
  </div>
</div>
