<!-- <div class="row header">
  <div class="column column-12">
    <h1>Old Deluder Satan</h1>
  </div>
</div> -->
<div class="row main">
  <div id='map' class="column column-7"></div>
  <div class="schools column column-5">
    <h4>School</h4>
    <h2>Wilson High School</h2>
  </div>
</div>
