<!-- <div class="row header">
  <div class="column column-12">
    <h1>Old Deluder Satan</h1>
  </div>
</div> -->
<div class="row main">
  <div id='map' class="column column-7"></div>
  <div class="schools column column-5">
    <h4>School</h4>
    <h2 class="one-school-name">Wilson High School</h2>
    <h5 class="one-school-address">3950 Chesapeake St NW</h5>
  </div>
</div>
