<div class="row main">

  <div id='map' class="map column column-lg-7"></div>

  <div id='infoPanel' class="info column column-lg-5">

    <section class="user-bar">
      {{#if user}}
        <div class="user-flex current-user">
          Signed in as {{user}}.
        </div>
        <div class="user-flex">
          <a class="sign-out" href="/signout">Sign Out</a>
        </div>
      {{else}}
        <div class="user-flex">
          <a class="sign-in" href='/signin'>Sign In</a>
        </div>
        <div class="user-flex">
          <a class="sign-up" href='/signup'>Sign Up</a>
        </div>
      {{/if}}
    </section>

    <select id="schooloptions">
    </select>

    <section class="name-and-address">
      <h4 class="label">School</h4>
      <h2 id='schoolLabel'>woodrow wilson senior high school</h2>
      <h4 class="label">Address</h4>
      <p id='addressLabel'>3950 chesapeake st nw</p>
    </section>

    <div class="flexcontain">

      <div class="flexchild">
        <h4 class="flexlabel">Risk <br/> Category</h4>
        <p id='riskLabel'>3</p>
      </div>

      <div class="flexchild">
        <h4 class="flexlabel">Critical <br/> Violations</h4>
        <p id='criticalLabel'>1</p>
      </div>

      <div class="flexchild">
        <h4 class="flexlabel">Noncritical <br/> Violations</h4>
        <p id='noncriticalLabel'>2</p>
      </div>

    </div>

      <div class="flexchild-c comments">

        {{#if user}}
        <form class='comment-form'>
          <input class='comment-field' type='text' name='body' placeholder='Add a comment'>
          <input class='create-comment' type='submit' >
        </form>
        {{/if}}
      </div>

<!-- ul class comment,
li class comment body,
li class comment-author-->

  </div>

</div>
