/* -----------------------------------*/
/* ---           CORE              ---*/
/* -----------------------------------*/

body {
  background-color: #ffffff;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}



/* -----------------------------------*/
/* ---        drop and sign        ---*/
/* -----------------------------------*/


.user-bar {
  display: flex;
	flex-flow: row wrap;
	text-align: center;
	background-color: #FAFCFC;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.user-flex {
  flex: 1 1 auto;
  padding: 0 1em;
  margin: 0 auto;
}


.sign-in, .sign-out, .sign-up, .current-user {
	font-family: $base-font-family;
	font-weight: $base-font-weight;
  font-size: 1.2em;
  color: $gray-loud-color;
  text-decoration: none;
	line-height: 2.4em;
}

// .sign-in {
// 	border-right: 2px solid #ecf0f1;
// }

#schooloptions {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: white;
	width: 100%;
	height: 4em;
	padding: 1em 0;
	font-family: "Roboto", sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	border: 1px solid #ecf0f1;
	border-radius: 0;
}

#schooloptions:nth-child(n) {
	font-family: "Roboto", sans-serif;
	color: #7F7F7F;
	padding-left: 1.4em;
}



/* -----------------------------------*/
/* ---      name and address       ---*/
/* -----------------------------------*/


.name-and-address p, h2 {
	font-size: 2em;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	color: #7F7F7F;
	margin: 0 0 1em 1em;
}

#infoPanel #schoolLabel {
	font-size: 2em;
	font-weight: $base-font-weight;
	font-family: $base-font-family;
	text-transform: lowercase;
	color: $loud-color;
}

#infoPanel #addressLabel {
	font-size: 2em;
	font-weight: $base-font-weight;
	font-family: $base-font-family;
	text-transform: lowercase;
	color: $loud-color;
}

#infoPanel h4 {
	font-family: $base-font-family;
	color: $gray-quiet-color;
	font-size: .8em;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

#infoPanel h5 {
	font-family: $base-font-family;
	font-size: .7em;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #888888;
}

.label {
	margin: 2em 0 1em 2em;
}




/* -----------------------------------*/
/* ---        flexy health         ---*/
/* -----------------------------------*/


.flexcontain {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	text-align: center;
	padding: 0 1em;
}

.flexchild {
	flex: 1 1 3em;
	border: 1px solid #BFBFBF;
	margin: .4em;
	border-radius: .4em;
}

.flexchild p {
	font-size: 4em;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	color: #507292;
	margin: 0 auto;
}

.flexlabel {
	margin: 1em 0;
}


/* -----------------------------------*/
/* ---           comments          ---*/
/* -----------------------------------*/


// comment body
.comment h3 {
  font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 0.1em;
  margin-left: 2em;
  color: #507292
}

// comment username
.comment h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-left: 2em;
  color: #507292
}

// comment post-date
.comment p {
  font-family: 'Roboto', sans-serif;
	font-size: .7em;
	font-weight: 500;
	letter-spacing: 0.1em;
  margin-left: 2em;
  margin-bottom: 4em;
  color: #507292;
}
